.title {
    text-align: center;
    margin: 0px;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
    margin: 0px;
}

.content {
    font-family: "Comic Sans MS";
}

.emph {
    font-style: italic;
}